
user {{ nginx_service_user}} {{ nginx_service_group }};
worker_processes {{ config_workerprocesses }};
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections {{ config_workerconnections }};
}

http {


			{% for item in config_http_block.basic_setting %}
			{{ item }};


	include /etc/nginx/mime.types;
	default_type application/octet-stream;


	ssl_prefer_server_ciphers on;


	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;


	gzip on;
	gzip_disable "msie6";



	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;
}
