
user {{ nginx_service_user}} {{ nginx_service_group }};
worker_processes {{ nginx_config_workerprocesses }};
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections {{ nginx_config_workerconnections }};
}

http {


	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout {{ nginx_config_keepalivetimeout }};
	types_hash_max_size 2048;


	include /etc/nginx/mime.types;
	default_type application/octet-stream;


	ssl_prefer_server_ciphers on;


	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;


	gzip on;
	gzip_disable "msie6";



	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;
}
