

{% if apache2_vhost_add %}
{%   for item in apache2_virtualhosts %}
<VirtualHost *:{{ item.port }}>
	ServerAdmin {{ item.serveradmin }}
	DocumentRoot {{ item.documentroot }}
	ServerName {{ item.servername }}
	ErrorLog ${APACHE_LOG_DIR}/{{ item.servername }}_error.log
	CustomLog ${APACHE_LOG_DIR}/{{ item.servername }}_access.log combined
</VirtualHost>
{% endfor %}
{% endif %}
