

{% if apache_vhost_add %}
{%   for item in apache_virtualhosts %}
<VirtualHost *:{{ item.port }}>
	ServerAdmin {{ item.serveradmin }}
	DocumentRoot {{ item.documentroot }}
	ServerName {{ item.servername }}
	ErrorLog {{ apache_log_dir }}/{{ item.servername }}_error.log
	CustomLog {{ apache_log_dir }}/{{ item.servername }}_access.log combined
</VirtualHost>
{% endfor %}
{% endif %}
